<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Método de distribuição: desenvolvimento (ad-hoc) sem certificados -->
	<key>method</key>
	<string>ad-hoc</string>
	
	<!-- Autoassinatura -->
	<key>signingStyle</key>
	<string>automatic</string>
	
	<!-- ID do Team -->
	<key>teamID</key>
	<string>UAUX8M9JPN</string>
	
	<!-- Provisioning profile -->
	<key>provisioningProfiles</key>
	<dict>
		<key>app.ailun</key>
		<string>AilunSaude_AdHoc</string>
	</dict>
	
	<!-- Strip swift symbols -->
	<key>stripSwiftSymbols</key>
	<true/>
	
	<!-- Include bitcode -->
	<key>includeBitcode</key>
	<false/>
	
	<!-- Manage signing -->
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	
	<!-- Thinned distribution -->
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
